@{
    ViewBag.Title = "Index";
}

<div class="panel panel-body" style="min-height:256px">
    <div class="col-md-3">
        @{ Html.RenderAction("SideMenu", "Home");}
    </div>
   
    <div class="col-md-9">
        <table class="display" id="MyDataTable">
            <thead>
                <tr>
                    <th>
                        EmployeeName
                    </th>
                    <th>
                        Department
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        EmployeeId
                    </th>
                </tr>
            </thead>
            <tbody>


            </tbody>
            
        </table>
    </div>

<script>

    //No da formato a la tabla
    $(document).ready(function () {
        //$("#MyDataTable").DataTable();
        GetEmployeeRecord();
    })
    var GetEmployeeRecord = function () {
        $.ajax({
            type: "Get",
            url: "/Home/GetEmployeeRecord",
            success: function (response) {
                BindDataTable(response);
            }
        })
    }
    var BindDataTable = function (response) {
        $("#MyDataTable").DataTable({
            "aadata": response,
            "aoColumn": [
                { "mData": "Name" },
                { "mData": "DepartamentName" },
                { "mData": "Address" },
                { "mData": "EmployeeId" }
            ]
        });
    }

</script>
    