
@{
    ViewBag.Title = "SideMenu";
}

<div class="thumbnail">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"> Director Message </h3>   
        </div>
        <!-- Existe una imagen, colocar despues-->
        <div class="caption">
            <h3> Ashish Tiwary </h3>
            <p>&para; Have faith in us, We will give you full satisfaction by providing best service. &para; </p>
            <p><a href="#" class="btn btn-primary" role="button"> See More </a></p>
        </div>
    </div>
</div>

